<%- include("header") -%>

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="images/done_logo.jpeg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                Project Done!
            </a>
        </div>
    </nav>

    <div class="main-flexbox">

        <div class="left-arrow">
            <form id="previous-form" action="/previous" method="post">
                <button class="btn-left" name="listName" type="submit" value="<%=listTitle%>">
                    <i class="fa-solid fa-angles-left"></i>
                </button>
            </form>
            
            
        </div>

        <div class="list-container">

            <!-- MODAL FOR DELETING A LIST  -->
            <!-- Button trigger DELETE modal -->
            <button type="button" class="btn btn-primary btn-list-del" data-bs-toggle="modal" data-bs-target="#deleteListModal">
                <i class="fa-solid fa-x"></i>
            </button>
            
            <!-- DELETE Modal -->
            <div class="modal fade" id="deleteListModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete <%= listTitle %></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        ...
                        </div>
                        <div class="modal-footer">
                            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                            <form id="delete-list" action="/del" method="post">
                                <button class="btn btn-primary" name="listName" type="sumbit" value="<%=listTitle%>">DELETE</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- MODAL FOR CREATING A NEW LIST  -->
            <!-- Button trigger NEW LIST modal -->
            <button type="button" class="btn btn-primary btn-list-new" data-bs-toggle="modal" data-bs-target="#newListModal">
                <i class="fa-solid fa-plus"></i>
            </button>
            
            <!-- NEW LIST Modal -->
            <div class="modal fade" id="newListModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Create a new list</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input type="text" name="listName" placeholder="New List" autocomplete="off" form="new-list">
                        </div>
                        <div class="modal-footer">
                            <form id="new-list" action="/new" method="post">
                                <button type="sumbit" name="listNameBtn" value="New List" class="btn btn-primary">Save changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box" id="list-title">
                <h1><%= listTitle %></h1>
                <p class="list-date">Created on <%= creationDate %></p>
                <p class="item-counter">0/3</p>
            </div>

            <div class="box">
                
                <% newListItems.forEach(function(item) { %>
                    <div class="list-item">
                        <form id="update-form" action="/update" method="post">
                            <input name="checkbox" class="cross" type="checkbox" value="<%=item._id%>" <%= item.done ? "checked" : "" %> onChange="this.form.submit()">
                            <input type="hidden" name="itemStatus" value="<%=item.done%>"></input>
                            <input type="hidden" name="itemId" value="<%=item._id%>"></input>
                            <input type="hidden" name="listName" value="<%=listTitle%>"></input>
                        </form>

                        <p <%= item.done ? "style=text-decoration:line-through;text-decoration-color:#212022;" : ""%>>
                            <%= item.name %>
                        </p>

                        <form id="delete-form" action="/delete" method="post">
                            <button class="btn-delete" name="itemToDelete" type="submit" value="<%=item._id%>" >
                                <i class="fa-solid fa-trash"></i>
                                <input type="hidden" name="listName" value="<%= listTitle %>"></input>
                            </button>
                        </form>
                    </div> 
                <% }); %>

                    <form class="list-item" action="/" method="post">
                        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                        <button class="btn-new" type="submit" name="list" value="<%=listTitle%>">
                            <i class="fa-solid fa-plus" style="color: white;"></i>
                        </button>
                    </form>

            </div>
        </div>


        <div class="right-arrow">
            <form id="next-form" action="/next" method="post">
                <button class="btn-right" name="listName" type="submit" value="<%=listTitle%>">
                    <i class="fa-solid fa-angles-right"></i>
                </button>
            </form>
        </div>


    </div>



    <%- include("footer") -%>